<table class="totals">
  <tr>
    <td class="cel1 bold"><%= Spree.t(:total_refund) %>: </td>
    <td class="cel2 bold cell" align="right"><%= @return_authorization.display_pre_tax_total.to_html %></td>
  </tr>
</table>
<br/>