<h3 class="bold">Shipping</h3>
<table cellpadding="7" class="payments heading" >
  <tr>
    <th align="left" class="desc bold heading"><%= Spree.t(:shipment_number) %></th>
    <th align="left" class="desc bold heading"><%= Spree.t(:method) %></th>
  </tr>
  <% @order.shipments.each do |shipment| %>
    <tr >
      <td class="cell content"><%= shipment.number %></td>
      <td class="cell content"><%= shipment.selected_shipping_rate.name %></td>
    </tr>
  <% end %>
</table>
